.book{
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      background: #FFF;
      display: flex;
      width: 400px;
      position: relative;
      border-radius: 4px;
      overflow: hidden;
      margin: 16px 0 0 16px;
      height: 180px;
}
.book>img{
    align-self: center;
    
}
.book>.book-info{
    margin: 16px;
    display: flex;
    flex-direction: column;
}
.book>.book-info>h2{
    font-size: 20px;
    margin: 0;
    word-wrap: break-word;
    max-height: 72px;
    color: rgba(0,0,0,0.87)
}
.book>.book-info>p{
    margin: 0;
    color: rgba(0,0,0,0.54);
    font-size: 14px;
    margin-top:8px; 
}
.book>.book-info>p.subtitle{
    color: rgba(0,0,0,0.54)
}
.book>.book-info>p.author{
    margin-top: auto;
}
.book-menu{
    height: 48px;
    width: 48px;
    background: url('./icons/more.svg');
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: auto;
    
}
select{
    height: 48px;
    width: 48px;
    opacity: 0;
}
